body{
        background-color: #274c77;
    }
  h1{
        font-family: jua;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        width: auto;
        height: auto;
        font-size: 13vw;
    }
    .main-sample-company{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        gap:10px;
        margin-top: 50%;
    }
    .sample-company, .sample-company-2, .sample-company-3, .sample-company-4{
       margin-top: 20%;
       height: 50px;
       background-color: rgb(46, 88, 136);
       border-radius: 4%;
    }
    .circle-company{
       height: 50px;
       width: 50px;
       border-radius: 100%;
       background-color: #274c77;
       margin-left: 25%;
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: rgb(108, 102, 102);
        margin-top: 20%;
    }
    .OR{
       height: 30px;
       width: 30px;
       border-radius: 100%;
       background-color: rgb(46, 88, 136);
       margin-left: 48%;
       margin-top: -40px;
       margin-bottom: 20%;
    }
    h6{
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
        text-align: center;
        padding: 9px;
    }   
    .container {
        
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #c3d0d5;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
        
    h2 {
       text-align: center;
       font-family: jua;
    }
        
    .form-group {
        margin-bottom: 20px;
    }
        
    label {
        display: block;
        margin-bottom: 5px;
        font-family: jua;
    }
        
    input[type="text"],
    input[type="password"],
    input[type="email"] {
       width: 98%;
       padding: 10px;
       margin-bottom: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
    }
        
    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007BFF;        color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }    
    button:hover {
      background-color: #0056b3;
    }
    footer{
        margin-top: 15%;
        color:#c3d0d5;
        text-align: center;
    }
    .footer-text{
        text-align: center;
        color: #c3d0d5;
    }
        
