*{
    margin: 0;
    padding: 0;
}
body{
    background:#888585;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.form_box{
    width: 700px;
    height: 700px;
    background: #123123;
    border-radius: 10px;
    color: white;
    box-shadow: 0 10 20px rgba(255, 255, 255, 0.439);
}
.form_box h3{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-wrap: wrap;
}
/*first name*/
form .first-name{
    width: 600px;
    margin: 50px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.618);
    border-radius: 20px;
}
.first-name input{
    background: none;
    width: 600px;
    height:70px ;
    border: none;
    outline: none;
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.first-name label{
    position: absolute;
    top: 25px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0ff1b;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.4s ease;
    text-align: center;
}
form .first-name:hover label{
    top: -10px;
    left: 20px;
    background: #2a3d35;
}
/*second name*/
form .second-name {
    width: 600px;
    margin: 50px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.618);
    border-radius: 20px;
}
.second-name  input{
    background: none;
    width: 600px;
    height:70px ;
    border: none;
    outline: none;
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.second-name label{
    position: absolute;
    top: 25px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0ff1b;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.4s ease;
    text-align: center;
}
form .second-name:hover label{
    top: -10px;
    left: 20px;
    background: #2a3d35;
}
/*designation*/
form .designation {
    width: 600px;
    margin: 50px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.618);
    border-radius: 20px;
}
.designation  input{
    background: none;
    width: 600px;
    height:70px ;
    border: none;
    outline: none;
    font-size: 30px;
    padding-left: 1px;
    color: white;
}
.designation label{
    position: absolute;
    top: 2px;
    left: -2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0ff1b;
    font-size: 18px;
    padding-left: 1px;
    padding-right: 5px;
    transition: all 0.4s ease;
    text-align: center;
}
form .designation:hover label{
    top: -10px;
    left: 10px;
    background: #2a3d35;
}


