.image-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.login-name{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
h1{
    font-weight:500;
    font-family: sans-serif;
}
span{
    text-shadow: 2m 2m 4m #000;
    animation:  color 8s infinite;
    text-align: center;
}
h1, span{
    align-items: center;
    text-align: center;
}
@keyframes color{
    0% {color: b;}
    10% {color: rgb(83, 83, 245);}
    20% {color: rgb(243, 174, 24);}
    30% {color: rgb(255, 0, 13);}
    40% {color: rgb(33, 235, 141);}
    50% {color: rgb(58, 155, 139);}
    60% {color: rgba(201, 18, 238, 0.959);}
    70% {color: rgb(255, 255, 255);}
    80% {color: rgb(231, 228, 19);}
    90% {color: rgb(13, 70, 16);}
    100% {color: orangered;}
}
h1:nth-child(span){
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
}
.main{
 display:flex;
 justify-content: space-between;
}
.permits-div, .first-aid-div, .ppe-div, .induction-div, .reports-div, .checklist-div{
    position:relative;
    width:10rem ;
    height: 20vh;
    border-radius: 8px;
    color:#f5f6f8;
    margin-top: 10%;
}
.permits, .first, .ppe, .induction, .reports, .checklists{
    text-decoration: none;
    font-weight: 300;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    font-size:x-large;
    text-align: center;
}
.checklist-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
    
}
.checklist-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1;
}
.checklist-text{
     background-image: linear-gradient(90deg, rgb(238, 238, 238), rgb(182, 170, 170));
     background-clip: text;
     color: transparent;
}
.reports-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.reports-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1;   
}
.induction-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.induction-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1;
}
.ppe-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.ppe-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1;
}
.first-aid-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.first-aid-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1;
}

.permits-div{
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.permits-div:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgb(255, 255, 255);
    opacity: 1; 
}
img{
    width:10rem ;
    height: 20vh;
    border-radius: 6px;
}
body{
    background-image: linear-gradient(to right, rgb(93, 93, 100), rgb(255, 255, 255));
}
.no-meaning{
    padding-top:10%;
}