h1{
    color: red;
    size: 50px;
    text-align: center;
}
.ginco, .sub, .supply{
   position: absolute;
   padding: 70px;
   border-radius: 8px;
   border: solid black;
   width: 60em;
   height: 20vh;
}
.supply{
    margin-left: 20%;
}
.sub{
    margin-left: 40%;
}
.ginco{
    margin-left: 60%;
}
.company{
    display: flex;
}
