.permit-types{
    display:grid;
    grid-column-start: 1;
    grid-column-end:3 ;
}
#working-at-height, #sand-blasting, #mobile-crane, #shuttering-and-deshuttering, #excavation, #hot-work{
    position:relative;
    margin-top: 10%;
}
.card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #474747;
    width: 300px;
    background: #232323;
    box-shadow: 0px, 2px, 21px, rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    overflow: hidden;
}
.description{
    background: transparent;
    box-shadow: 0px, 2px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    padding: 40px;
    z-index: 2;
    transition: all 0.5 ease-in-out;
}
.circle-top, .circle-bottom{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #F69660;
    border-radius:50% ;
    transition: all 0.5s ease-in-out;
}
circle-top{
    top: -10px;
    left: -10px;
}
.circle-bottom{
    bottom: -10px;
    right: -10px;
}
.card:hover .circle-top, .card:hover .circle-bottom{
    transform: scale(12);
}
.card:hover .description p, .card:hover .description h3{
    color: #222222
}